<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.his.mapper.CheckApplyMapper">
  <resultMap id="BaseResultMap" type="cn.his.entity.CheckApply">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="MedicalID" jdbcType="INTEGER" property="medicalid" />
    <result column="RegistID" jdbcType="INTEGER" property="registid" />
    <result column="ItemID" jdbcType="INTEGER" property="itemid" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Objective" jdbcType="VARCHAR" property="objective" />
    <result column="Position" jdbcType="VARCHAR" property="position" />
    <result column="IsUrgent" jdbcType="INTEGER" property="isurgent" />
    <result column="Num" jdbcType="INTEGER" property="num" />
    <result column="CreationTime" jdbcType="TIMESTAMP" property="creationtime" />
    <result column="DoctorID" jdbcType="INTEGER" property="doctorid" />
    <result column="CheckOperID" jdbcType="INTEGER" property="checkoperid" />
    <result column="ResultOperID" jdbcType="INTEGER" property="resultoperid" />
    <result column="CheckTime" jdbcType="TIMESTAMP" property="checktime" />
    <result column="Result" jdbcType="VARCHAR" property="result" />
    <result column="ResultTime" jdbcType="TIMESTAMP" property="resulttime" />
    <result column="State" jdbcType="INTEGER" property="state" />
    <result column="RecordType" jdbcType="INTEGER" property="recordtype" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, MedicalID, RegistID, ItemID, Name, Objective, Position, IsUrgent, Num, CreationTime, 
    DoctorID, CheckOperID, ResultOperID, CheckTime, Result, ResultTime, State, RecordType
  </sql>
  <select id="selectByRegistId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from check_apply
    where RegistID = #{RegistID,jdbcType=INTEGER}
  </select>

  <update id="updateState" parameterType="cn.his.entity.Register">
    update check_apply
    set State =3
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>