<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.his.mapper.ConstatntItemMapper">
  <resultMap id="BaseResultMap" type="cn.his.entity.ConstatntItem">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ConstantTypeID" jdbcType="INTEGER" property="constanttypeid" />
    <result column="ContantCode" jdbcType="VARCHAR" property="contantcode" />
    <result column="ConstantName" jdbcType="VARCHAR" property="constantname" />
    <result column="DelMark" jdbcType="INTEGER" property="delmark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ConstantTypeID, ContantCode, ConstantName, DelMark
  </sql>
  <select id="selectSex" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from constatnt_item
    where ConstantTypeID = 7
  </select>

  <select id="selectMTC" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from constatnt_item
    where ConstantTypeID = 5
  </select>



</mapper>