<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.his.mapper.RegisterMapper">
  <resultMap id="BaseResultMap" type="cn.his.entity.Register">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CaseNumber" jdbcType="VARCHAR" property="casenumber" />
    <result column="RealName" jdbcType="VARCHAR" property="realname" />
    <result column="Gender" jdbcType="INTEGER" property="gender" />
    <result column="IDnumber" jdbcType="VARCHAR" property="idnumber" />
    <result column="BirthDate" jdbcType="DATE" property="birthdate" />
    <result column="Age" jdbcType="INTEGER" property="age" />
    <result column="AgeType" jdbcType="CHAR" property="agetype" />
    <result column="HomeAddress" jdbcType="VARCHAR" property="homeaddress" />
    <result column="VisitDate" jdbcType="DATE" property="visitdate" />
    <result column="Noon" jdbcType="CHAR" property="noon" />
    <result column="DeptID" jdbcType="INTEGER" property="deptid" />
    <result column="UserID" jdbcType="INTEGER" property="userid" />
    <result column="RegistLeID" jdbcType="INTEGER" property="registleid" />
    <result column="SettleID" jdbcType="INTEGER" property="settleid" />
    <result column="IsBook" jdbcType="CHAR" property="isbook" />
    <result column="RegistTime" jdbcType="TIMESTAMP" property="registtime" />
    <result column="RegisterID" jdbcType="INTEGER" property="registerid" />
    <result column="VisitState" jdbcType="INTEGER" property="visitstate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CaseNumber, RealName, Gender, IDnumber, BirthDate, Age, AgeType, HomeAddress, 
    VisitDate, Noon, DeptID, UserID, RegistLeID, SettleID, IsBook, RegistTime, RegisterID, 
    VisitState
  </sql>

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from register
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByCaseNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from register
    where CaseNumber = #{casenumber,jdbcType=VARCHAR}
  </select>


  <insert id="insert" parameterType="cn.his.entity.Register">
    insert into register (ID, CaseNumber, RealName, 
      Gender, IDnumber, BirthDate, 
      Age, AgeType, HomeAddress, 
      VisitDate, Noon, DeptID, 
      UserID, RegistLeID, SettleID, 
      IsBook, RegistTime, RegisterID, 
      VisitState)
    values (#{id,jdbcType=INTEGER}, #{casenumber,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{idnumber,jdbcType=VARCHAR}, #{birthdate,jdbcType=DATE}, 
      #{age,jdbcType=INTEGER}, #{agetype,jdbcType=CHAR}, #{homeaddress,jdbcType=VARCHAR}, 
      #{visitdate,jdbcType=DATE}, #{noon,jdbcType=CHAR}, #{deptid,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{registleid,jdbcType=INTEGER}, #{settleid,jdbcType=INTEGER}, 
      #{isbook,jdbcType=CHAR}, #{registtime,jdbcType=TIMESTAMP}, #{registerid,jdbcType=INTEGER}, 
      #{visitstate,jdbcType=INTEGER})
  </insert>


  <update id="updateById" parameterType="cn.his.entity.Register">
    update register
    set CaseNumber = #{casenumber,jdbcType=VARCHAR},
      RealName = #{realname,jdbcType=VARCHAR},
      Gender = #{gender,jdbcType=INTEGER},
      IDnumber = #{idnumber,jdbcType=VARCHAR},
      BirthDate = #{birthdate,jdbcType=DATE},
      Age = #{age,jdbcType=INTEGER},
      AgeType = #{agetype,jdbcType=CHAR},
      HomeAddress = #{homeaddress,jdbcType=VARCHAR},
      VisitDate = #{visitdate,jdbcType=DATE},
      Noon = #{noon,jdbcType=CHAR},
      DeptID = #{deptid,jdbcType=INTEGER},
      UserID = #{userid,jdbcType=INTEGER},
      RegistLeID = #{registleid,jdbcType=INTEGER},
      SettleID = #{settleid,jdbcType=INTEGER},
      IsBook = #{isbook,jdbcType=CHAR},
      RegistTime = #{registtime,jdbcType=TIMESTAMP},
      RegisterID = #{registerid,jdbcType=INTEGER},
      VisitState = #{visitstate,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateVisitState" parameterType="cn.his.entity.Register">
    update register
    set VisitState =4
    where CaseNumber = #{casenumber,jdbcType=VARCHAR}
  </update>
</mapper>