<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.his.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.his.entity.User">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="Password" jdbcType="VARCHAR" property="password" />
    <result column="RealName" jdbcType="VARCHAR" property="realname" />
    <result column="UserType" jdbcType="INTEGER" property="usertype" />
    <result column="DocTitleID" jdbcType="INTEGER" property="doctitleid" />
    <result column="IsScheduling" jdbcType="CHAR" property="isscheduling" />
    <result column="DeptID" jdbcType="INTEGER" property="deptid" />
    <result column="RegistLeID" jdbcType="INTEGER" property="registleid" />
    <result column="DelMark" jdbcType="INTEGER" property="delmark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, UserName, Password, RealName, UserType, DocTitleID, IsScheduling, DeptID, RegistLeID, 
    DelMark
  </sql>
  <select id="selectRegDoc" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where UserType =3
  </select>

</mapper>