<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.his.mapper.VChargeCapplyMapper">
  <resultMap id="BaseResultMap" type="cn.his.entity.VChargeCapply">
    <result column="CaseNumber" jdbcType="VARCHAR" property="casenumber" />
    <result column="RealName" jdbcType="VARCHAR" property="realname" />
    <result column="IDnumber" jdbcType="VARCHAR" property="idnumber" />
    <result column="HomeAddress" jdbcType="VARCHAR" property="homeaddress" />
    <result column="ItemName" jdbcType="VARCHAR" property="itemname" />
    <result column="Price" jdbcType="DECIMAL" property="price" />
    <result column="CreationTime" jdbcType="TIMESTAMP" property="creationtime" />
    <result column="State" jdbcType="INTEGER" property="state" />
    <result column="DoctorID" jdbcType="INTEGER" property="doctorid" />
    <result column="DeptID" jdbcType="INTEGER" property="deptid" />
    <result column="ID" jdbcType="INTEGER" property="id" />

  </resultMap>
  <sql id="Base_Column_List">
    CaseNumber,RealName,IDnumber,HomeAddress,ItemName,Price,CreationTime,State,DoctorID,DeptID,ID
  </sql>
  <select id="selectByCaseNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from v_charge_capply
    where CaseNumber = #{CaseNumber,jdbcType=VARCHAR}
  </select>
</mapper>