<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.his.mapper.VChargePrescriptionMapper">
  <resultMap id="BaseResultMap" type="cn.his.entity.VChargePrescription">
    <result column="CaseNumber" jdbcType="VARCHAR" property="casenumber" />
    <result column="DrugsName" jdbcType="VARCHAR" property="drugsname" />
    <result column="DrugsPrice" jdbcType="DECIMAL" property="drugsprice" />
    <result column="RealName" jdbcType="VARCHAR" property="realname" />
    <result column="IDnumber" jdbcType="VARCHAR" property="idnumber" />
    <result column="HomeAddress" jdbcType="VARCHAR" property="homeaddress" />
    <result column="Dosage" jdbcType="VARCHAR" property="dosage" />
    <result column="PrescriptionTime" jdbcType="TIMESTAMP" property="prescriptiontime" />
    <result column="State" jdbcType="INTEGER" property="state" />
    <result column="UserID" jdbcType="INTEGER" property="userid" />
    <result column="ID" jdbcType="INTEGER" property="id" />
  </resultMap>
  <sql id="Base_Column_List">
    CaseNumber,DrugsName,DrugsPrice,RealName,IDnumber,HomeAddress,Dosage,PrescriptionTime,State,UserID,ID
  </sql>
  <select id="selectByCaseNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from v_charge_prescription
    where CaseNumber = #{CaseNumber,jdbcType=VARCHAR}
  </select>
  <select id="selectByID" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from v_charge_prescription
    where ID = #{ID,jdbcType=INTEGER}
  </select>
</mapper>