<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.his.mapper.DiseaseMapper">
  <resultMap id="BaseResultMap" type="cn.his.entity.Disease">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="DiseaseCode" jdbcType="VARCHAR" property="diseasecode" />
    <result column="DiseaseName" jdbcType="VARCHAR" property="diseasename" />
    <result column="DiseaseICD" jdbcType="VARCHAR" property="diseaseicd" />
    <result column="DiseCategoryID" jdbcType="INTEGER" property="disecategoryid" />
    <result column="DelMark" jdbcType="INTEGER" property="delmark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DiseaseCode, DiseaseName, DiseaseICD, DiseCategoryID, DelMark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from disease
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from disease
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.his.entity.Disease">
    insert into disease (ID, DiseaseCode, DiseaseName, 
      DiseaseICD, DiseCategoryID, DelMark
      )
    values (#{id,jdbcType=INTEGER}, #{diseasecode,jdbcType=VARCHAR}, #{diseasename,jdbcType=VARCHAR}, 
      #{diseaseicd,jdbcType=VARCHAR}, #{disecategoryid,jdbcType=INTEGER}, #{delmark,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.his.entity.Disease">
    insert into disease
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="diseasecode != null">
        DiseaseCode,
      </if>
      <if test="diseasename != null">
        DiseaseName,
      </if>
      <if test="diseaseicd != null">
        DiseaseICD,
      </if>
      <if test="disecategoryid != null">
        DiseCategoryID,
      </if>
      <if test="delmark != null">
        DelMark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="diseasecode != null">
        #{diseasecode,jdbcType=VARCHAR},
      </if>
      <if test="diseasename != null">
        #{diseasename,jdbcType=VARCHAR},
      </if>
      <if test="diseaseicd != null">
        #{diseaseicd,jdbcType=VARCHAR},
      </if>
      <if test="disecategoryid != null">
        #{disecategoryid,jdbcType=INTEGER},
      </if>
      <if test="delmark != null">
        #{delmark,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.his.entity.Disease">
    update disease
    <set>
      <if test="diseasecode != null">
        DiseaseCode = #{diseasecode,jdbcType=VARCHAR},
      </if>
      <if test="diseasename != null">
        DiseaseName = #{diseasename,jdbcType=VARCHAR},
      </if>
      <if test="diseaseicd != null">
        DiseaseICD = #{diseaseicd,jdbcType=VARCHAR},
      </if>
      <if test="disecategoryid != null">
        DiseCategoryID = #{disecategoryid,jdbcType=INTEGER},
      </if>
      <if test="delmark != null">
        DelMark = #{delmark,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.his.entity.Disease">
    update disease
    set DiseaseCode = #{diseasecode,jdbcType=VARCHAR},
      DiseaseName = #{diseasename,jdbcType=VARCHAR},
      DiseaseICD = #{diseaseicd,jdbcType=VARCHAR},
      DiseCategoryID = #{disecategoryid,jdbcType=INTEGER},
      DelMark = #{delmark,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>