<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.his.mapper.DrugsDetailedMapper">
  <resultMap id="BaseResultMap" type="cn.his.entity.DrugsDetailed">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="DrugsTempID" jdbcType="INTEGER" property="drugstempid" />
    <result column="DrugsID" jdbcType="INTEGER" property="drugsid" />
    <result column="DrugsUsage" jdbcType="VARCHAR" property="drugsusage" />
    <result column="Dosage" jdbcType="VARCHAR" property="dosage" />
    <result column="Frequency" jdbcType="VARCHAR" property="frequency" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DrugsTempID, DrugsID, DrugsUsage, Dosage, Frequency
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drugs_detailed
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from drugs_detailed
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.his.entity.DrugsDetailed">
    insert into drugs_detailed (ID, DrugsTempID, DrugsID, 
      DrugsUsage, Dosage, Frequency
      )
    values (#{id,jdbcType=INTEGER}, #{drugstempid,jdbcType=INTEGER}, #{drugsid,jdbcType=INTEGER}, 
      #{drugsusage,jdbcType=VARCHAR}, #{dosage,jdbcType=VARCHAR}, #{frequency,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.his.entity.DrugsDetailed">
    insert into drugs_detailed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="drugstempid != null">
        DrugsTempID,
      </if>
      <if test="drugsid != null">
        DrugsID,
      </if>
      <if test="drugsusage != null">
        DrugsUsage,
      </if>
      <if test="dosage != null">
        Dosage,
      </if>
      <if test="frequency != null">
        Frequency,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="drugstempid != null">
        #{drugstempid,jdbcType=INTEGER},
      </if>
      <if test="drugsid != null">
        #{drugsid,jdbcType=INTEGER},
      </if>
      <if test="drugsusage != null">
        #{drugsusage,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.his.entity.DrugsDetailed">
    update drugs_detailed
    <set>
      <if test="drugstempid != null">
        DrugsTempID = #{drugstempid,jdbcType=INTEGER},
      </if>
      <if test="drugsid != null">
        DrugsID = #{drugsid,jdbcType=INTEGER},
      </if>
      <if test="drugsusage != null">
        DrugsUsage = #{drugsusage,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        Dosage = #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        Frequency = #{frequency,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.his.entity.DrugsDetailed">
    update drugs_detailed
    set DrugsTempID = #{drugstempid,jdbcType=INTEGER},
      DrugsID = #{drugsid,jdbcType=INTEGER},
      DrugsUsage = #{drugsusage,jdbcType=VARCHAR},
      Dosage = #{dosage,jdbcType=VARCHAR},
      Frequency = #{frequency,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>