<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.his.mapper.ExpenseClassMapper">
  <resultMap id="BaseResultMap" type="cn.his.entity.ExpenseClass">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ExpCode" jdbcType="VARCHAR" property="expcode" />
    <result column="ExpName" jdbcType="VARCHAR" property="expname" />
    <result column="DelMark" jdbcType="INTEGER" property="delmark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ExpCode, ExpName, DelMark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from expense_class
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from expense_class
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.his.entity.ExpenseClass">
    insert into expense_class (ID, ExpCode, ExpName, 
      DelMark)
    values (#{id,jdbcType=INTEGER}, #{expcode,jdbcType=VARCHAR}, #{expname,jdbcType=VARCHAR}, 
      #{delmark,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.his.entity.ExpenseClass">
    insert into expense_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="expcode != null">
        ExpCode,
      </if>
      <if test="expname != null">
        ExpName,
      </if>
      <if test="delmark != null">
        DelMark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="expcode != null">
        #{expcode,jdbcType=VARCHAR},
      </if>
      <if test="expname != null">
        #{expname,jdbcType=VARCHAR},
      </if>
      <if test="delmark != null">
        #{delmark,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.his.entity.ExpenseClass">
    update expense_class
    <set>
      <if test="expcode != null">
        ExpCode = #{expcode,jdbcType=VARCHAR},
      </if>
      <if test="expname != null">
        ExpName = #{expname,jdbcType=VARCHAR},
      </if>
      <if test="delmark != null">
        DelMark = #{delmark,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.his.entity.ExpenseClass">
    update expense_class
    set ExpCode = #{expcode,jdbcType=VARCHAR},
      ExpName = #{expname,jdbcType=VARCHAR},
      DelMark = #{delmark,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>