<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.his.mapper.HerbalPrescriptionMapper">
  <resultMap id="BaseResultMap" type="cn.his.entity.HerbalPrescription">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="MedicalID" jdbcType="INTEGER" property="medicalid" />
    <result column="RegistID" jdbcType="INTEGER" property="registid" />
    <result column="DoctorID" jdbcType="INTEGER" property="doctorid" />
    <result column="PrescriptionName" jdbcType="VARCHAR" property="prescriptionname" />
    <result column="CreationTime" jdbcType="TIMESTAMP" property="creationtime" />
    <result column="PrescriptioType" jdbcType="VARCHAR" property="prescriptiotype" />
    <result column="PayNumber" jdbcType="INTEGER" property="paynumber" />
    <result column="Frequency" jdbcType="VARCHAR" property="frequency" />
    <result column="DrugsUsage" jdbcType="VARCHAR" property="drugsusage" />
    <result column="Therapy" jdbcType="VARCHAR" property="therapy" />
    <result column="Detailed" jdbcType="VARCHAR" property="detailed" />
    <result column="Advice" jdbcType="VARCHAR" property="advice" />
    <result column="State" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, MedicalID, RegistID, DoctorID, PrescriptionName, CreationTime, PrescriptioType, 
    PayNumber, Frequency, DrugsUsage, Therapy, Detailed, Advice, State
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from herbal_prescription
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from herbal_prescription
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.his.entity.HerbalPrescription">
    insert into herbal_prescription (ID, MedicalID, RegistID, 
      DoctorID, PrescriptionName, CreationTime, 
      PrescriptioType, PayNumber, Frequency, 
      DrugsUsage, Therapy, Detailed, 
      Advice, State)
    values (#{id,jdbcType=INTEGER}, #{medicalid,jdbcType=INTEGER}, #{registid,jdbcType=INTEGER}, 
      #{doctorid,jdbcType=INTEGER}, #{prescriptionname,jdbcType=VARCHAR}, #{creationtime,jdbcType=TIMESTAMP}, 
      #{prescriptiotype,jdbcType=VARCHAR}, #{paynumber,jdbcType=INTEGER}, #{frequency,jdbcType=VARCHAR}, 
      #{drugsusage,jdbcType=VARCHAR}, #{therapy,jdbcType=VARCHAR}, #{detailed,jdbcType=VARCHAR}, 
      #{advice,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.his.entity.HerbalPrescription">
    insert into herbal_prescription
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="medicalid != null">
        MedicalID,
      </if>
      <if test="registid != null">
        RegistID,
      </if>
      <if test="doctorid != null">
        DoctorID,
      </if>
      <if test="prescriptionname != null">
        PrescriptionName,
      </if>
      <if test="creationtime != null">
        CreationTime,
      </if>
      <if test="prescriptiotype != null">
        PrescriptioType,
      </if>
      <if test="paynumber != null">
        PayNumber,
      </if>
      <if test="frequency != null">
        Frequency,
      </if>
      <if test="drugsusage != null">
        DrugsUsage,
      </if>
      <if test="therapy != null">
        Therapy,
      </if>
      <if test="detailed != null">
        Detailed,
      </if>
      <if test="advice != null">
        Advice,
      </if>
      <if test="state != null">
        State,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="medicalid != null">
        #{medicalid,jdbcType=INTEGER},
      </if>
      <if test="registid != null">
        #{registid,jdbcType=INTEGER},
      </if>
      <if test="doctorid != null">
        #{doctorid,jdbcType=INTEGER},
      </if>
      <if test="prescriptionname != null">
        #{prescriptionname,jdbcType=VARCHAR},
      </if>
      <if test="creationtime != null">
        #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="prescriptiotype != null">
        #{prescriptiotype,jdbcType=VARCHAR},
      </if>
      <if test="paynumber != null">
        #{paynumber,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="drugsusage != null">
        #{drugsusage,jdbcType=VARCHAR},
      </if>
      <if test="therapy != null">
        #{therapy,jdbcType=VARCHAR},
      </if>
      <if test="detailed != null">
        #{detailed,jdbcType=VARCHAR},
      </if>
      <if test="advice != null">
        #{advice,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.his.entity.HerbalPrescription">
    update herbal_prescription
    <set>
      <if test="medicalid != null">
        MedicalID = #{medicalid,jdbcType=INTEGER},
      </if>
      <if test="registid != null">
        RegistID = #{registid,jdbcType=INTEGER},
      </if>
      <if test="doctorid != null">
        DoctorID = #{doctorid,jdbcType=INTEGER},
      </if>
      <if test="prescriptionname != null">
        PrescriptionName = #{prescriptionname,jdbcType=VARCHAR},
      </if>
      <if test="creationtime != null">
        CreationTime = #{creationtime,jdbcType=TIMESTAMP},
      </if>
      <if test="prescriptiotype != null">
        PrescriptioType = #{prescriptiotype,jdbcType=VARCHAR},
      </if>
      <if test="paynumber != null">
        PayNumber = #{paynumber,jdbcType=INTEGER},
      </if>
      <if test="frequency != null">
        Frequency = #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="drugsusage != null">
        DrugsUsage = #{drugsusage,jdbcType=VARCHAR},
      </if>
      <if test="therapy != null">
        Therapy = #{therapy,jdbcType=VARCHAR},
      </if>
      <if test="detailed != null">
        Detailed = #{detailed,jdbcType=VARCHAR},
      </if>
      <if test="advice != null">
        Advice = #{advice,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        State = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.his.entity.HerbalPrescription">
    update herbal_prescription
    set MedicalID = #{medicalid,jdbcType=INTEGER},
      RegistID = #{registid,jdbcType=INTEGER},
      DoctorID = #{doctorid,jdbcType=INTEGER},
      PrescriptionName = #{prescriptionname,jdbcType=VARCHAR},
      CreationTime = #{creationtime,jdbcType=TIMESTAMP},
      PrescriptioType = #{prescriptiotype,jdbcType=VARCHAR},
      PayNumber = #{paynumber,jdbcType=INTEGER},
      Frequency = #{frequency,jdbcType=VARCHAR},
      DrugsUsage = #{drugsusage,jdbcType=VARCHAR},
      Therapy = #{therapy,jdbcType=VARCHAR},
      Detailed = #{detailed,jdbcType=VARCHAR},
      Advice = #{advice,jdbcType=VARCHAR},
      State = #{state,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>