<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.his.dao.HerbaldetailedMapper">
  <resultMap id="BaseResultMap" type="cn.his.entity.Herbaldetailed">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="HerbalPresID" jdbcType="INTEGER" property="herbalpresid" />
    <result column="HerbalID" jdbcType="INTEGER" property="herbalid" />
    <result column="Dosage" jdbcType="VARCHAR" property="dosage" />
    <result column="Price" jdbcType="DECIMAL" property="price" />
    <result column="Footnote" jdbcType="VARCHAR" property="footnote" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, HerbalPresID, HerbalID, Dosage, Price, Footnote
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from herbaldetailed
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from herbaldetailed
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.his.entity.Herbaldetailed">
    insert into herbaldetailed (ID, HerbalPresID, HerbalID, 
      Dosage, Price, Footnote
      )
    values (#{id,jdbcType=INTEGER}, #{herbalpresid,jdbcType=INTEGER}, #{herbalid,jdbcType=INTEGER}, 
      #{dosage,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{footnote,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.his.entity.Herbaldetailed">
    insert into herbaldetailed
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="herbalpresid != null">
        HerbalPresID,
      </if>
      <if test="herbalid != null">
        HerbalID,
      </if>
      <if test="dosage != null">
        Dosage,
      </if>
      <if test="price != null">
        Price,
      </if>
      <if test="footnote != null">
        Footnote,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="herbalpresid != null">
        #{herbalpresid,jdbcType=INTEGER},
      </if>
      <if test="herbalid != null">
        #{herbalid,jdbcType=INTEGER},
      </if>
      <if test="dosage != null">
        #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="footnote != null">
        #{footnote,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.his.entity.Herbaldetailed">
    update herbaldetailed
    <set>
      <if test="herbalpresid != null">
        HerbalPresID = #{herbalpresid,jdbcType=INTEGER},
      </if>
      <if test="herbalid != null">
        HerbalID = #{herbalid,jdbcType=INTEGER},
      </if>
      <if test="dosage != null">
        Dosage = #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        Price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="footnote != null">
        Footnote = #{footnote,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.his.entity.Herbaldetailed">
    update herbaldetailed
    set HerbalPresID = #{herbalpresid,jdbcType=INTEGER},
      HerbalID = #{herbalid,jdbcType=INTEGER},
      Dosage = #{dosage,jdbcType=VARCHAR},
      Price = #{price,jdbcType=DECIMAL},
      Footnote = #{footnote,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>