<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.his.dao.PatientcostsMapper">
  <resultMap id="BaseResultMap" type="cn.his.entity.Patientcosts">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="RegistID" jdbcType="INTEGER" property="registid" />
    <result column="InvoiceID" jdbcType="INTEGER" property="invoiceid" />
    <result column="ItemID" jdbcType="INTEGER" property="itemid" />
    <result column="ItemType" jdbcType="INTEGER" property="itemtype" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="Price" jdbcType="DECIMAL" property="price" />
    <result column="Amount" jdbcType="DECIMAL" property="amount" />
    <result column="DeptID" jdbcType="INTEGER" property="deptid" />
    <result column="Createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="CreateOperID" jdbcType="INTEGER" property="createoperid" />
    <result column="PayTime" jdbcType="DECIMAL" property="paytime" />
    <result column="RegisterID" jdbcType="INTEGER" property="registerid" />
    <result column="FeeType" jdbcType="INTEGER" property="feetype" />
    <result column="BackID" jdbcType="INTEGER" property="backid" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, RegistID, InvoiceID, ItemID, ItemType, Name, Price, Amount, DeptID, Createtime, 
    CreateOperID, PayTime, RegisterID, FeeType, BackID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from patientcosts
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from patientcosts
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.his.entity.Patientcosts">
    insert into patientcosts (ID, RegistID, InvoiceID, 
      ItemID, ItemType, Name, 
      Price, Amount, DeptID, 
      Createtime, CreateOperID, PayTime, 
      RegisterID, FeeType, BackID
      )
    values (#{id,jdbcType=INTEGER}, #{registid,jdbcType=INTEGER}, #{invoiceid,jdbcType=INTEGER}, 
      #{itemid,jdbcType=INTEGER}, #{itemtype,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, #{deptid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{createoperid,jdbcType=INTEGER}, #{paytime,jdbcType=DECIMAL}, 
      #{registerid,jdbcType=INTEGER}, #{feetype,jdbcType=INTEGER}, #{backid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.his.entity.Patientcosts">
    insert into patientcosts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="registid != null">
        RegistID,
      </if>
      <if test="invoiceid != null">
        InvoiceID,
      </if>
      <if test="itemid != null">
        ItemID,
      </if>
      <if test="itemtype != null">
        ItemType,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="price != null">
        Price,
      </if>
      <if test="amount != null">
        Amount,
      </if>
      <if test="deptid != null">
        DeptID,
      </if>
      <if test="createtime != null">
        Createtime,
      </if>
      <if test="createoperid != null">
        CreateOperID,
      </if>
      <if test="paytime != null">
        PayTime,
      </if>
      <if test="registerid != null">
        RegisterID,
      </if>
      <if test="feetype != null">
        FeeType,
      </if>
      <if test="backid != null">
        BackID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="registid != null">
        #{registid,jdbcType=INTEGER},
      </if>
      <if test="invoiceid != null">
        #{invoiceid,jdbcType=INTEGER},
      </if>
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="itemtype != null">
        #{itemtype,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="deptid != null">
        #{deptid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createoperid != null">
        #{createoperid,jdbcType=INTEGER},
      </if>
      <if test="paytime != null">
        #{paytime,jdbcType=DECIMAL},
      </if>
      <if test="registerid != null">
        #{registerid,jdbcType=INTEGER},
      </if>
      <if test="feetype != null">
        #{feetype,jdbcType=INTEGER},
      </if>
      <if test="backid != null">
        #{backid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.his.entity.Patientcosts">
    update patientcosts
    <set>
      <if test="registid != null">
        RegistID = #{registid,jdbcType=INTEGER},
      </if>
      <if test="invoiceid != null">
        InvoiceID = #{invoiceid,jdbcType=INTEGER},
      </if>
      <if test="itemid != null">
        ItemID = #{itemid,jdbcType=INTEGER},
      </if>
      <if test="itemtype != null">
        ItemType = #{itemtype,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        Price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        Amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="deptid != null">
        DeptID = #{deptid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        Createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createoperid != null">
        CreateOperID = #{createoperid,jdbcType=INTEGER},
      </if>
      <if test="paytime != null">
        PayTime = #{paytime,jdbcType=DECIMAL},
      </if>
      <if test="registerid != null">
        RegisterID = #{registerid,jdbcType=INTEGER},
      </if>
      <if test="feetype != null">
        FeeType = #{feetype,jdbcType=INTEGER},
      </if>
      <if test="backid != null">
        BackID = #{backid,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.his.entity.Patientcosts">
    update patientcosts
    set RegistID = #{registid,jdbcType=INTEGER},
      InvoiceID = #{invoiceid,jdbcType=INTEGER},
      ItemID = #{itemid,jdbcType=INTEGER},
      ItemType = #{itemtype,jdbcType=INTEGER},
      Name = #{name,jdbcType=VARCHAR},
      Price = #{price,jdbcType=DECIMAL},
      Amount = #{amount,jdbcType=DECIMAL},
      DeptID = #{deptid,jdbcType=INTEGER},
      Createtime = #{createtime,jdbcType=TIMESTAMP},
      CreateOperID = #{createoperid,jdbcType=INTEGER},
      PayTime = #{paytime,jdbcType=DECIMAL},
      RegisterID = #{registerid,jdbcType=INTEGER},
      FeeType = #{feetype,jdbcType=INTEGER},
      BackID = #{backid,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>